@font-face {
  font-family: 'Civitype FG';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/civitype-fg.regular.ttf') format('truetype');
}

// Import bulma styles
@import "~bulma";

// Import buefy styles
@import "~buefy/src/scss/buefy";

html { 
  background: url('~@/assets/images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p.title {
  font-family: 'Civitype FG', cursive;
  font-size: 9em;
  padding-bottom: 0.5 hem;
}

// blockquote
.content > blockquote {
  border-left: 5px solid #48dd12;  
}
.block {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}

question {
  padding-bottom: 10px;
}

.answer {
  color: black;
}

.hero-body {
}
