// Import bulma styles
@import "~bulma";

// Import buefy styles
@import "~buefy/src/scss/buefy";

html { 
  background: url('~@/assets/images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p.title {
  font-family: 'Dancing Script', cursive;
  font-size: 9em;
  padding-bottom: 0.5em;
}

.block {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
}

question {
  padding-bottom: 10px;
}

.answer {
  color: black;
}

.hero-body {
}
